<section class="leaderboard">
  <section class="hero">
    <h1>Leaderboard</h1>
    <p>Climb the ranks and showcase your heroism on the FantasyQuest Leaderboard. Check your global standing, compete with
    players worldwide, and aim for the top spot as you prove yourself the ultimate hero in this vibrant 2D platformer.</p>
    <a href="/leaderboard/#page-previews" id='page-previews' class="scroll-down">Scroll down <img
        src="../../assets/icons/white-down-arrow.svg" alt=""></a>
  </section>
</section>