<header *ngIf="showHeader">
  <a class="logo" href="/">
    <img src="../../assets/icons/sword-logo.png" alt="">
    <h1>FantasyQuest</h1>
  </a>
  <nav>
    <a href="/leaderboard" routerLink="/leaderboard">Leaderboard</a>
    <a href="/shop" routerLink="/shop">Shop</a>
    <a href="/forums" routerLink="/forums">Forums</a>
    <a href="/events" routerLink="/events">Events</a>
  </nav>
  <nav>
    <button class="signup" *ngIf="!user?.isOnline" routerLink="/signup">Sign-up</button>
    <button class="login" *ngIf="!user?.isOnline" routerLink="/login">Login</button>
    <button *ngIf="user?.isOnline" (click)='logout()'>Logout</button>
  </nav>
</header>