@import "../../styles.scss";

header {
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 125px;
    width: 100%;
    position: fixed;
    transition: 0.2s ease-in-out;
    
    .logo {
        display: flex;
        align-items: center;
        gap: 20px;
        color: #fff;
        text-decoration: none;
        img{
            width: 50px;
            transition: 0.2s ease-in-out;
            filter: brightness(1000%);
        }
        h1{
            font-weight: 900;
            font-size: 40px;
            transition: 0.2s ease-in-out;
        }
    }
    nav{
        display: flex;
        gap: 25px;
        a{
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            transition: 0.2s ease-in-out;
            &:hover{
                transform: scale(110%);
                text-shadow: 2px 2px 10px $black;
            }
        }
        button{
            padding: 8px 25px;
            border: none;
            font-size: 18px;
            color: #fff;
            background-color: $primary-color;
            transition: 0.2s ease-in-out;
            &.shop-basket{
                background-color: transparent;
                padding: 0 0 0 15px;
                img{ width: 40px; }
                &:hover{
                    opacity: 0.7;
                }
            }
            &.login{
                box-shadow: 4px 4px 20px $primary-color;
            }
            &.signup{
                background-color: transparent;
                border: 2px solid #fff;
                &:hover{
                    background: #fff;
                    color: $black;
                }
            }
            &:hover {
                cursor: pointer;
                transform: scale(108%);
            }
        }
    }
    &.scrolled{
        padding: 20px 125px;
        background-color: rgb(43, 45, 66, 0.95) ;
        nav a, button{
            color: #fff;
        }
        nav button.login,
        nav button.signup{
            box-shadow: none;
            font-size: 16px;
        }
        a.logo img{
            width: 35px;
        }
        a.logo h1{
            font-size: 30px;
        }
    }
    &.second-header{
        .logo{
            color: $black;
            img{
                filter: none;
            }
        }
        nav{
            a{
                color: $black;
                &:hover{
                    text-shadow: 1px 1px 5px rgb(43, 45, 66, 0.5);
                }
            }
            button{
                &.signup{
                    background-color: transparent;
                    color: $black;
                    border: 2px solid $black;
                    &:hover{
                        background: $black;
                        color: #fff;
                    }
                }
            }
        }
    }
}