<header *ngIf="showHeader" [class.scrolled]="isScrolled">
  <a class="logo" href="/">
    <img src="../../assets/icons/white-FQ-logo.svg" alt="">
    <h1>FantasyQuest</h1>
  </a>
  <nav>
    <a routerLink="/leaderboard">Leaderboard</a>
    <a routerLink="/shop">Shop</a>
    <a routerLink="/forums">Forums</a>
    <a routerLink="/events">Events</a>
  </nav>
  <nav>
    <button class="signup rounded-corners" *ngIf="!user?.isOnline" routerLink="/signup">Sign-up</button>
    <button class="login rounded-corners" *ngIf="!user?.isOnline" routerLink="/login">Login</button>
    <button class="logout normal red rounded-corners" *ngIf="user?.isOnline" (click)='logout()'>Logout</button>
    <button class="shop-basket" *ngIf="isOnShopPage()"><img src="../../assets/icons/shop-basket-icon.svg" alt="shop basket"></button>
  </nav>
</header>