<header *ngIf="showHeader" [class.scrolled]="isScrolled" [ngClass]="{'second-header': UsesSecondHeader()}">
  <a class="logo" routerLink="home">
    <img src="../../assets/icons/dark-FQ-logo.svg" alt="fantasy quest logo">
    <h1>FantasyQuest</h1>
  </a>
  <nav>
    <a routerLink="/leaderboard">Leaderboard</a>
    <a routerLink="/shop">Shop</a>
    <a routerLink="/forums">Forums</a>
    <a routerLink="/events">Events</a>
  </nav>
  <nav>
    <button class="signup rounded-corners" *ngIf="!user" routerLink="/signup">Sign-up</button>
    <button class="login rounded-corners" *ngIf="!user" routerLink="/login">Login</button>
    <button class="logout normal red rounded-corners" *ngIf="user" (click)='logout()'>Logout</button>
    <button class="shop-basket" *ngIf="isOnShopPage()"><img src="../../assets/icons/shop-basket-icon.svg" alt="shop basket" routerLink="/shopping-cart"></button>
  </nav>
</header>