.container {
  &::before {
    background: url("../../../assets/images/Login-IMG.jpg");
  }
  .black-background{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: var(--black);
    margin-left: auto;
    min-width: 1000px;
    width: 60%;
    clip-path: polygon(44% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
  }
  .login-container {
    margin: 100px 0px 0px 0px;

    form {
      display: flex;
      gap: 50px;

    .input-field {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        padding: 30px;
        background-color: #ffff;
        .loan-form__get-error{
          &::before{
            background-image: url("../../../assets/icons/error-warning-icon.svg");
          }
        }
    }
    }
    .button-row {
      display: flex;
      justify-content: flex-end;
      gap: 50px;
      margin: 50px 0px 0px 0px;
      a{
        color: #ffff;
        text-decoration: underline;
        font-size: 1rem;
        transition: 0.2s ease; 
        height: fit-content;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
}