<section class='landing'>
    <div class="landing-introduction">
        <div class="logo-section">
            <div class="logo">
                <img src="../../assets/icons/white-FQ-logo.svg" alt="">
            </div>
            <div class="text">
                <div class="logo-name">FantasyQuest.GG</div>
                <span class="slogan">The place to track your statistics</span>
            </div>
        </div>
        <div class="introduction-text">
            <p>Embark on an epic journey in FantasyQuest, a vibrant 2D platformer. Battle magical creatures, recover stolen gemstones,
            and restore balance to the enchanted realm.</p>
            <p>Track your heroics with our innovative Tracker System, climb the leaderboard, and showcase your skills. Immerse yourself
            in the magic of gaming with FantasyQuest!</p>
        </div>
        <div class="buttons">
            <button class="normal light weapon">Learn more</button>
            <button class="normal dark download">Download now</button>
        </div>
    </div>
    <div class="track-statistics">
        <h1>Try out the statistics tracking system!</h1>
        <p class="slogan">Ascend the leaderboard in FantasyQuest with the Tracker System, shaping your journey to ultimate hero.</p>
        <div class="search-container">
            <input class="search" type="text" placeholder='Search here ...'>
            <button class="normal primary-color search">Search</button>
        </div>
    </div>
</section>
