<section class='landing'>
    <section class="hero">
        <div class="landing-introduction">
            <div class="logo-section">
                <div class="logo">
                    <img src="../../assets/icons/white-FQ-logo.svg" alt="">
                </div>
                <div class="text">
                    <div class="logo-name">FantasyQuest.GG</div>
                    <span class="slogan">The place to track your statistics</span>
                </div>
            </div>
            <div class="introduction-text">
                <p>Embark on an epic journey in FantasyQuest, a vibrant 2D platformer. Battle magical creatures, recover stolen
                    gemstones,
                    and restore balance to the enchanted realm.</p>
                <p>Track your heroics with our innovative Tracker System, climb the leaderboard, and showcase your skills.
                    Immerse yourself
                    in the magic of gaming with FantasyQuest!</p>
            </div>
            <div class="buttons">
                <button class="normal light weapon">Learn more</button>
                <button class="normal dark download">Download now</button>
            </div>
        </div>
        <div class="track-statistics">
            <h1>Try out the statistics tracking system!</h1>
            <p class="slogan">Ascend the leaderboard in FantasyQuest with the Tracker System, shaping your journey to ultimate
                hero.</p>
            <div class="search-container">
                <input class="search" type="text" placeholder='Search here ...'>
                <button class="normal primary-color search">Search</button>
            </div>
        </div>
        <a href="#page-previews" id='page-previews' class="scroll-down">Scroll down  <img src="../../assets/icons/white-down-arrow.svg" alt=""></a>
    </section>
    <section class="page-previews">
        <div class="box">
            <img src="../../assets/images/Leaderboard-IMG.jpg" alt="">
            <div class="title">Leaderboard</div>
            <div class="text">Check your global ranking, compete with players worldwide, and aim for the top spot on the FantasyQuest Leaderboard –
            the ultimate showcase of heroism.</div>
        </div>
        <div class="box">
            <img src="../../assets/images/Shop-IMG.jpg" alt="">
            <div class="title">Shop</div>
            <div class="text">Discover the FantasyQuest Shop – your gateway to exclusive upgrades and power-ups. Equip your hero with magical items to
            enhance your abilities and conquer the challenges that lie ahead..</div>
        </div>
        <div class="box">
            <img src="../../assets/images/Forums-IMG.jpg" alt="">
            <div class="title">Forums</div>
            <div class="text">Join the FantasyQuest community on our Forums, where heroes unite to share tips, strategies, and epic tales of
            adventure. Connect with fellow players, seek advice, and become part of the thriving world of Fantasia.</div>
        </div>
        <div class="box">
            <img src="../../assets/images/Events-IMG.jpg" alt="">
            <div class="title">Events</div>
            <div class="text">Immerse yourself in thrilling limited-time events in FantasyQuest. Unleash your skills, earn unique rewards, and rise to
            the top of the leaderboard in special challenges that await courageous heroes like you.</div>
        </div>
    </section>
    <section class="about-us"></section>
</section>
