<section class='page landing'>
    <section class="main-hero">
        <div class="landing-introduction">
            <div class="logo-section">
                <div class="logo">
                    <img src="../../assets/icons/white-FQ-logo.svg" alt="Logo">
                </div>
                <div class="text">
                    <div class="logo-name">FantasyQuest.GG</div>
                    <span class="slogan">The place to track your statistics</span>
                </div>
            </div>
            <div class="introduction-text">
                <p>Embark on an epic journey in FantasyQuest, a vibrant 2D platformer. Battle magical creatures, recover stolen
                    gemstones,
                    and restore balance to the enchanted realm.</p>
                <p>Track your heroics with our innovative Tracker System, climb the leaderboard, and showcase your skills.
                    Immerse yourself
                    in the magic of gaming with FantasyQuest!</p>
            </div>
            <div class="buttons">
                <button class="normal light weapon">Learn more</button>
                <button class="normal dark download">Download now</button>
            </div>
        </div>
        <div class="track-statistics">
            <h1>Try out the statistics tracking system!</h1>
            <p class="slogan">Ascend the leaderboard in FantasyQuest with the Tracker System, shaping your journey to ultimate
                hero.</p>
            <form [formGroup]='searchForm'>
                <div class="search-container">
                    <input class="search" type="search" placeholder='Search here ...' formControlName='search' />
                    <button class="normal primary-color search">Search</button>
                </div>
                <div class='users-found-container' *ngFor="let userProfile of filteredUsersList" (click)="showUserProfile(userProfile)">
                    <img *ngIf="userProfile.profilePhoto" [src]="userProfile.profilePhoto" alt="User Profile Photo" />
                    <p>{{ userProfile.username }}</p>
                </div>
            </form>
            <div class="game-stats">
                <div class="stat-type-container">
                    <div class="icon">
                        <img src="../../assets/icons/persons-icon.svg" alt="Logo">
                    </div>
                    <div class="text">
                        <div class="amount">50.000+</div>
                        <div class="type">Registered users</div>
                    </div>
                </div>
                <div class="stat-type-container">
                    <div class="icon">
                        <img src="../../assets/icons/persons-icon.svg" alt="Logo">
                    </div>
                    <div class="text">
                        <div class="amount">3.700+</div>
                        <div class="type">Active users</div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#page-previews" id='page-previews' class="scroll-down">Scroll down  <img src="../../assets/icons/white-down-arrow.svg" alt=""></a>
    </section>
    <section class="page-previews">
        <a class="box" href='/leaderboard'>
            <img src="../../assets/images/Leaderboard-IMG.jpg" alt="">
            <div class="title">Leaderboard</div>
            <div class="text">Check your global ranking, compete with players worldwide, and aim for the top spot on the FantasyQuest Leaderboard –
            the ultimate showcase of heroism.</div>
        </a>
        <a class="box" href='/shop'>
            <img src="../../assets/images/Shop-IMG.jpg" alt="">
            <div class="title">Shop</div>
            <div class="text">Discover the FantasyQuest Shop – your gateway to exclusive upgrades and power-ups. Equip your hero with magical items to
            enhance your abilities and conquer the challenges that lie ahead..</div>
        </a>
        <a class="box" href='/forums'>
            <img src="../../assets/images/Forums-IMG.jpg" alt="">
            <div class="title">Forums</div>
            <div class="text">Join the FantasyQuest community on our Forums, where heroes unite to share tips, strategies, and epic tales of
            adventure. Connect with fellow players, seek advice, and become part of the thriving world of Fantasia.</div>
        </a>
        <a class="box" href='/events'>
            <img src="../../assets/images/Events-IMG.jpg" alt="">
            <div class="title">Events</div>
            <div class="text">Immerse yourself in thrilling limited-time events in FantasyQuest. Unleash your skills, earn unique rewards, and rise to
            the top of the leaderboard in special challenges that await courageous heroes like you.</div>
        </a>
    </section>
    <section class="below-the-fold">
        <section class="about-us">
            <div class="image-section">
                <img src="../../assets/images/IMG-AboutMe-1.jpg" alt="">
                <img src="../../assets/images/IMG-AboutMe-2.jpg" alt="">
                <img src="../../assets/images/IMG-AboutMe-3.jpg" alt="">
                <img src="../../assets/images/IMG-AboutMe-4.jpg" alt="">
            </div>
            <div class="readable-section">
                <h1>What does <strong>fantasy quest</strong> offer for you?</h1>
                <p class="info">Embark on an enchanting journey with FantasyQuest, a vibrant 2D platformer set in the magical
                    realm of Fantasia. Explore
                    breathtaking landscapes, battle mythical creatures, and strive to restore balance to this captivating world.
                </p>
                <p class="info">Unleash your hero's abilities with dynamic movements such as running, jumping, and crawling,
                    adding an extra layer of
                    strategy to your adventure. Delve into the innovative Tracker System to monitor your progress, compare
                    achievements, and
                    climb the leaderboard. Every move you make shapes your path to becoming the ultimate hero in this
                    captivating world.</p>
                <div class="USP">
                    <img src="../../assets/icons/USP-icon-2.svg" alt="">
                    <div class="text">
                        <h2>Epic adventure</h2>
                        <p>Dive into a rich narrative as the chosen hero, facing formidable bosses and collecting precious
                            gemstones to thwart the
                            malevolent sorcerer Morgrimm.</p>
                    </div>
                </div>
                <div class="USP">
                    <img src="../../assets/icons/USP-icon-1.svg" alt="">
                    <div class="text">
                        <h2>Innovative Tracker System</h2>
                        <p>Monitor your progress, compare achievements, and climb the leaderboard with our Tracker System,
                            ensuring every move
                            counts in your quest to become the ultimate hero.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="faq">
            <div class="introduction-faq">
                <div class="pre-title">FAQ</div>
                <h1>Here we answer your most frequently asked questions</h1>
                <p>Unlock the secrets of FantasyQuest with our FAQ section. Find quick answers to common queries about gameplay,
                    troubleshooting, and more to ensure a seamless and heroic adventure in the magical realm of Fantasia. Can't
                    find what
                    you need? Contact our support team for personalized assistance!</p>
                <button class="normal primary-color rounded-corners more-padding">Check more</button>
            </div>
            <div class="questions-container">
                <div class="faq-item" [class.active]="activeIndex === 1" (click)="setActive(1)">
                    <div class="question-container">
                        <div class="number">01.</div>
                        <div class="question">How do I start playing FantasyQuest?</div>
                        <img src="../../assets/icons/FQ-arrows.svg" alt="">
                    </div>
                    <div class="answer-container">
                        To begin your epic journey, simply download and install FantasyQuest from our official website or your preferred app
                        store. Once installed, create an account, choose your hero, and dive into the enchanting world of Fantasia.
                    </div>
                </div>
                <div class="faq-item" [class.active]="activeIndex === 2" (click)="setActive(2)">
                    <div class="question-container">
                        <div class="number">02.</div>
                        <div class="question">Are there in-app purchases in FantasyQuest??</div>
                        <img src="../../assets/icons/FQ-arrows.svg" alt="">
                    </div>
                    <div class="answer-container">
                        Yes, FantasyQuest offers an in-game Shop where you can purchase exclusive upgrades, power-ups, and magical items to
                        enhance your hero's abilities. However, the core game is fully accessible without any mandatory purchases.
                    </div>
                </div>
                <div class="faq-item" [class.active]="activeIndex === 3" (click)="setActive(3)">
                    <div class="question-container">
                        <div class="number">03.</div>
                        <div class="question">How can I track my progress in the game?</div>
                        <img src="../../assets/icons/FQ-arrows.svg" alt="">
                    </div>
                    <div class="answer-container">
                        Use the innovative Tracker System in FantasyQuest to monitor key statistics, including completion time, collected gems,
                        and defeated creatures. Access the Leaderboard to compare achievements and showcase your skills among players worldwide.
                    </div>
                </div>
                <div class="faq-item" [class.active]="activeIndex === 4" (click)="setActive(4)">
                    <div class="question-container">
                        <div class="number">04.</div>
                        <div class="question">Is there a community forum for FantasyQuest players?</div>
                        <img src="../../assets/icons/FQ-arrows.svg" alt="">
                    </div>
                    <div class="answer-container">
                        Absolutely! Join our vibrant community on the Forums page, where heroes unite to share strategies, tips, and tales of
                        adventure. Connect with fellow players, seek advice, and immerse yourself in the thriving world of Fantasia.                    
                    </div>
                </div>
                <div class="faq-item" [class.active]="activeIndex === 5" (click)="setActive(5)">
                    <div class="question-container">
                        <div class="number">05.</div>
                        <div class="question">Are there special events in FantasyQuest?</div>
                        <img src="../../assets/icons/FQ-arrows.svg" alt="">
                    </div>
                    <div class="answer-container">
                        Yes, FantasyQuest hosts exciting limited-time events. Participate to unleash your skills, earn unique rewards, and climb
                        the leaderboard in special challenges. Keep an eye on the Events page for thrilling opportunities to enhance your gaming
                        experience.
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<div *ngIf="!user?.newsletter">
    <app-newsletter-section></app-newsletter-section>
</div>