button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

.sidebar.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #3498db;
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar button:hover {
  background-color: #2980b9;
}
