@import '../../styles.scss';

.container {
  padding: 75px 200px;
  min-height: 100svh;
  position: relative;
  &::before {
    content: '';
    z-index: -2;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url("../../assets/images/Login-IMG.jpg");
    background-size: cover;
    background-position: center;
  }
  &::after{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(to bottom right,#4055f492 20%, #00ffa250 50%);
  }

  .top-row {
    display: flex;
    align-items: center;
    gap: 50px;

    img{
      width: 125px;
      height: 125px;
    }

    .title-column {
      h1 {
        color: #ffff;
        font-size: 4rem;
        line-height: normal;
      }

      p {
        color: #ffff;
        font-size: 0.8rem;
        font-family: 'PoppinsItalic';
      }
    }

    .line {
      background-color: #ffff;
      height: 5px;
      width: 100%;
      margin: 0 50px 0 50px;
      border-radius: 5px;
    }

    h3 {
      margin: 2px 0 0 0;
      color: #ffff;
      font-size: 2rem;
    }
  }

  .login-container {
    margin: 100px 0px 0px 0px;

    form {
      display: flex;
      gap: 50px;

      .input-field {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 30px;
        background-color: #ffff;
      }
    }
      .button-row {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        margin: 20px 0px 0px 0px;

        p {
          color: #ffff;
          text-decoration: underline;
          font-size: 0.8rem;
        }

        .button-column {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .checkbox-row {
            display: flex;
            gap: 10px;


            label {
              color: #ffff;
              font-size: 0.8rem;
            }
          }
        }
      }
  }
}