<!-- <form [formGroup]='loginForm'>
  <label>email</label>
  <input formControlName='emailAddress' />
  <div class="loan-form__get-error">{{getError('emailAddress')}}</div>
  <label>password</label>
  <input formControlName='password' />
  <div class="loan-form__get-error">{{getError('password')}}</div>

  <button (click)='login()'>login</button>
</form> -->
<div class='container'>
  <div class='top-row'>
    <img src='../../assets/icons/white-FQ-logo.svg'>
    <div class='title-column'>
      <h1>FantasyQuest</h1>
      <p>the place to track your statistics</p>
    </div>
    <div class='line'></div>
    <h3>Login</h3>
  </div>

  <div class='login-container'>
    <form [formGroup]='loginForm'>
      <div class='input-field'>
        <label>email address</label>
        <input formControlName='emailAddress' placeholder='Type your email address' />
        <div class="loan-form__get-error">{{getError('emailAddress')}}</div>
      </div>
      <div class='input-field'>
        <label>password</label>
        <input formControlName='password' placeholder='Type your password' />
        <div class="loan-form__get-error">{{getError('password')}}</div>
      </div>
      </form>
            <div class='button-row'>
              <a href="/signup">I dont have an account</a>
              <div class='button-column'>
                <button class="normal primary-color weapon" (click)='login()'>Login</button>
                <div class='checkbox-row'>
                  <input type='checkbox' />
                  <label>Remember me</label>
                </div>
              </div>
            </div>
            </div>
</div>