section.shopping-cart{
    .title-container{
        display: flex;
        gap: 20px;
        img{
            width: 40px;
            height: 30px;
        }
        h1{
            font-size: 2rem;
            color: var(--black);
        }
    }
    .items-amount-container{
        display: flex;
        gap: 5px;
        margin-left: auto;
        button{ 
            font-size: 2rem; font-family: 'PoppinsRegular'; color: var(--primary-color); background: none; border: none; outline: none; transition: 0.2s ease; 
            &:hover{ color: var(--green); cursor: pointer; } 
        }
        input{ width: 45px; height: 45px; text-align: center; padding: 13px; font-size: 1.1rem; border: 1px solid var(--black); outline: none; }
    }
}