<section class="shopping-cart page">
    <section class="hero-2">
        <div class="title-container">
            <img src="../../assets/icons/shop-basket-icon.svg" alt="">
            <h1>shopping cart</h1>
        </div>
        <div class="main-content-container">
            <div class="information-container">
                <div class="overview">
                    <div class="title">Overview</div>
                    <div class="info">
                        <div class="total-cost">
                            <span>Total cost</span>
                            <h2>€720.00</h2>
                        </div>
                        <div class="total-items">
                            <span>items</span>
                            <h2>x12</h2>
                        </div>
                    </div>
                </div>
                <div class="to-be-paid-container">
                    <div class="to-be-paid">To be paid</div>
                    <div class="price"><span>€</span>473.00</div>
                </div>
                <hr>
                <button class="normal primary-color no-radius big-button-with-image">Continue with your order <img src="../../assets/icons/FQ-arrows.svg" alt=""></button>
            </div>
            <div class="items-container">
                <div class="item">
                    <img src="" alt="">
                    <div class="product-information">
                        <div class="types-container">
                            <div class="type">Cap</div>
                            <div class="gender">Men</div>
                        </div>
                        <div class="product-name">Gryphon Guardian</div>
                        <div class="price">€120.00</div>
                    </div>
                    <div class="items-amount-container">
                        test
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
