<section class="shopping-cart page">
    <section class="hero-2">
        <div class="title-container">
            <img src="../../assets/icons/shop-basket-icon.svg" alt="">
            <h1>Shopping cart</h1>
        </div>
        <div class="main-content-container">
            <div class="information-container">
                <div class="overview">
                    <div class="title">Overview</div>
                    <div class="info">
                        <div class="total-cost">
                            <span>Total cost</span>
                            <h2>€720.00</h2>
                        </div>
                        <div class="total-items">
                            <span>items</span>
                            <h2>{{totalItems + 'X'}}</h2>
                        </div>
                    </div>
                </div>
                <div class="to-be-paid-container">
                    <div class="to-be-paid">To be paid</div>
                    <div class="price"><span>€</span>473.00</div>
                </div>
                <hr>
                <button class="normal primary-color no-radius big-button-with-image">Continue with your order <img src="../../assets/icons/FQ-arrows.svg" alt=""></button>
            </div>
            <div class="items-container">
                <div class="item" *ngFor="let shoppingCartItem of shoppingCartList; let i = index">
                    <div class="image-container">
                        <img [src]="shoppingCartItem.image"
                            alt="Product image">
                    </div>
                    <div class="product-information">
                        <div class="types-container">
                            <div class="type" *ngIf="shoppingCartItem.product">{{shoppingCartItem.product}}</div>
                            <div class="gender" *ngIf="shoppingCartItem.targetAudience">{{shoppingCartItem.targetAudience}}</div>
                        </div>
                        <div class="product-name" *ngIf="shoppingCartItem.productName">{{shoppingCartItem.productName}}</div>
                        <div class="price" *ngIf="shoppingCartItem.price">{{shoppingCartItem.price}}</div>
                    </div>
                    <div class="items-amount-container">
                        <button class="decrement" (click)="decrementQuantity(shoppingCartItem)">-</button>
                        <form [formGroup]="shoppingCartFormGroups[i]">
                            <input class="quantity-input" (change)="inputQuantity(shoppingCartItem, i)" formControlName='quantity' />
                        </form>
                        <button class="increment" (click)="incrementQuantity(shoppingCartItem)">+</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
