<section class="shopping-cart page">
    <section class="hero-2">
        <h1>shopping cart</h1>
        <div class="main-content-container">
            <div class="information-container">
                <div class="overview">
                    <div class="title">Overview</div>
                    <div class="info">
                        <div class="total-cost">
                            <span>Total cost</span>
                            <h2>€720.00</h2>
                        </div>
                        <div class="total-items">
                            <span>items</span>
                            <h2>x12</h2>
                        </div>
                    </div>
                </div>
                <div class="to-be-paid-container">
                    <div class="to-be-paid">To be paid</div>
                    <div class="price"><span>€</span>473.00</div>
                </div>
                <hr>
                <button>Continue with your order <img src="../../assets/icons/FQ-arrows.svg" alt=""></button>
            </div>
            <div class="items-container">
                <div class="item">
                    
                </div>
            </div>
        </div>
    </section>
</section>
