body, html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.main-container {
  flex: 1;
}

app-chat-menu {
  position: fixed;
  max-height: 400px;
  z-index: 20;
  top: auto;
  bottom: 0;
  right: 0;
  width: 300px;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc;
  overflow-y: auto;
}

