<section class="order-payments page">
  <section class="hero-2">
    <a href="" class="btn icon--back"><i class="fq-icon icon--arrow-back"></i>Back</a>
    <hr />
    <div class="main-content-container">
      <div class="information-container">
        <h1 class="title"><i class='fq-icon icon--payments'></i>Payment details</h1>
        <div class="overview">
          <div class="title">Overview</div>
          <div class="info">
            <div class="total-cost">
              <span>Total cost</span>
              <h2>€0.00,00</h2>
            </div>
            <div class="total-items">
              <span>items</span>
              <h2>12X</h2>
            </div>
          </div>
        </div>
        <div class="to-be-paid-container">
          <div class="to-be-paid">To be paid</div>
          <div class="price">€0.00,00</div>
        </div>
      </div>
      <div class="items-summary">
        <h2>Summary</h2>
        <div class="items-container">
          <div class="item">
            <div class="image-container">
              <img src="../../assets/images/IMG-5.jpg" alt="Product image">
              <div class="amount-indicator">5x</div>
            </div>
            <div class="product-information">
              <div class="types-container">
                <div class="type">Type</div>
                <div class="gender">Gender</div>
              </div>
              <div class="product-name">Product name</div>
              <div class="price">$0,00</div>
            </div>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="../../assets/images/IMG-5.jpg" alt="Product image">
              <div class="amount-indicator">5x</div>
            </div>
            <div class="product-information">
              <div class="types-container">
                <div class="type">Type</div>
                <div class="gender">Gender</div>
              </div>
              <div class="product-name">Product name</div>
              <div class="price">$0,00</div>
            </div>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="../../assets/images/IMG-5.jpg" alt="Product image">
              <div class="amount-indicator">5x</div>
            </div>
            <div class="product-information">
              <div class="types-container">
                <div class="type">Type</div>
                <div class="gender">Gender</div>
              </div>
              <div class="product-name">Product name</div>
              <div class="price">$0,00</div>
            </div>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="../../assets/images/IMG-5.jpg" alt="Product image">
              <div class="amount-indicator">5x</div>
            </div>
            <div class="product-information">
              <div class="types-container">
                <div class="type">Type</div>
                <div class="gender">Gender</div>
              </div>
              <div class="product-name">Product name</div>
              <div class="price">$0,00</div>
            </div>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="../../assets/images/IMG-5.jpg" alt="Product image">
              <div class="amount-indicator">5x</div>
            </div>
            <div class="product-information">
              <div class="types-container">
                <div class="type">Type</div>
                <div class="gender">Gender</div>
              </div>
              <div class="product-name">Product name</div>
              <div class="price">$0,00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="select-address-container">
      <h2>Choose your delivery point</h2>
      <form class='select-address' [formGroup]="checkoutForm">
        <div class="address" [ngClass]="{ 'active': selectedAddress?.id === address.id }" *ngFor="let address of addressList"
          (click)='selectAddress(address)'>
          <h3>{{address.nameOfAddressCard}}</h3>
          <div class="address-info">
            <p class="fullname">{{address.firstName + ' ' + address.lastName}}</p>
            <p class="streetname housenumber">{{address.streetName + ' ' + address.houseNumber}}</p>
            <div class="postal city country">{{address.postal + ' ' + address.city}}, {{address.country}}</div>
          </div>
          <i class='fq-icon icon--location'></i>
          <div class="address-settings">
            <button class='kebab-menu-btn' (click)="toggleMenu($event, address)">
              <i class='fq-icon icon--dot kebab-menu-icon'></i>
            </button>
            <div class="kebab-menu" [ngClass]="{ 'active': toggleKebabMenu === address.id }">
              <button class='update' (click)="updateAddress($event, address)">Update <i
                  class='fq-icon icon--update'></i></button>
              <button class='delete' (click)="deleteAddress(address)">Delete <i class='fq-icon icon--delete'></i></button>
            </div>
          </div>
        </div>
        <button *ngIf="addressList.length < 5" class="add-address" (click)="addAddress()"><strong>+</strong> Add
          address</button>
      </form>
      <button routerLink="/order-payments" class="normal primary-color order" (click)="submitCheckoutForm()">Continue with your order <i
          class='fq-icon icon--arrow-next'></i></button>
    </div>
  </section>
</section>