<ul class="pagination">
  <button *ngIf="currentPage! > 1" (click)="previousStep()" class="previous">Previous</button>
  <li *ngFor="let page of pages" [ngClass]="{ 'page-item': true, active: currentPage === page }"
    (click)="changePage.emit(page)">
    <span class="page-link">{{ page }}</span>
  </li>
  <button *ngIf="currentPage! < pageCount!" (click)="nextStep()" class="next">Next</button>
  <div class="pages-indicator">
    Page
    <strong class="current-page-number">{{currentPage}}</strong>
    of
    <strong class="current-page-number">{{pageCount}}</strong>
  </div>
</ul>