.pagination{
  display: flex;
  gap: 10px;
  

  .page-link,
  button {
    padding: 0.5rem 0.9rem;
    font-family: 'PoppinsBold';
    color: var(--black);
    text-decoration: none;
    background-color: #fff;
    border: 2px solid var(--black);
    transition: 0.2s ease;
    &:hover {
      cursor: pointer;
      transform: scale(105%);
      color: #fff;
      background-color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }
  }
  button{
    position: relative;
    &.next,
    &.previous{
      padding: 0.5rem 2.8rem 0.5rem 0.9rem;
      color: #fff;
      background-color: var(--black);
      &::after {
        content: '';
        position: absolute;
        margin: auto;
        right: 12px;
        width: 25px;
        height: 18px;
        background-image: url("../../assets/icons/FQ-arrows-long.svg");
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(1000%);
        transition: 0.2s ease;
      }
      &:hover{
        border: 2px solid var(--black);
        &::after{
          transform: translateX(5px);
        }
      }
    }
    &.previous{
      padding: 0.5rem 0.9rem 0.5rem 2.8rem;
      &::after {
        content: "";
        left: -55px;
        width: 25px;
        height: 18px;
        transform: rotate(180deg);
      }
      &:hover{
        &::after{
          transform: rotate(180deg) + translateX(5px);
        }
      }
    }
    
  }
  .button-divider{
    margin-top: auto;
    font-size: 1.5rem;
  }
  .page-item {
    display: flex;
    &.active{
      .page-link{
        background-color: var(--black);
        color: #fff;
        &:hover {
          color: #fff;
          background-color: var(--black);
          border: 2px solid var(--black);
        }
      }
    }
  }
  .pages-indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 50px;
    font-size: 1rem;
    gap: 5px;
     > * {
      height: fit-content;
    }
    strong{
      color: var(--primary-color);
      -webkit-text-stroke: 0.5px var(--primary-color);
    }
  }
}