@import "../../../styles.scss";



.cdk-overlay-container .cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
  background-color: red !important;
}
.login-component{
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
  h3{ color: $black; font-size: 110%; padding-bottom: 10px; border-bottom: 1px solid #efefef;}
}