@import "../../../styles.scss";


app-warning-component{ width: 5000px; }

.add-address-component{
  background-color: #fff;
  padding: 30px;  
  h2{ color: $primary-color; font-size: 1.7rem; padding-bottom: 10px; border-bottom: 1px solid #efefef;}

  form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .input-field{ 
      display: flex; flex-direction: column; gap: 5px;
      font-size: 1.1rem; color: $black;
      span{ color: $primary-color; font-weight: bold; }
    }
    input:not([type="submit"]), select{ padding: 5px 10px; border: 1px solid $black; border-radius: 5px; font-size: 1rem; }
    select{ background-color: $black; color: #fff; }
    input[type="submit"] { grid-column: span 2; margin: 30px 0 0 0; padding: 8px 30px; width: fit-content; &:hover{ transform: scale(100%); background-color: $green;}}
  }
}