<section class="article page {{articleId}}">
  <section class='hero-2 product-container'>
    <div class="img-container">
      <img [src]="article?.image" />
    </div>
    <div class="product-info">
      <h1>{{article?.productName}}</h1>
      <div class="types-container">
        <div class="type" *ngIf="article?.productCategory">{{article?.productCategory}}</div>
        <div class="gender" *ngIf="article?.targetAudience">{{article?.targetAudience}}</div>
      </div>
      <p class='description'>
        {{article?.description}}
        The Gryphon Guardian cap boasts a majestic design with an embroidered gryphon emblem, capturing the mythical creature's
        strength and grace. Crafted from high-quality materials in earthy tones, it offers a comfortable and versatile fit for
        any occasion, blending fantasy aesthetics with contemporary style.
      </p>
      <div class="price-container">
        <p>Now for</p>
        <div class="price" *ngIf="article?.stock">{{article?.price | currency:'USD'}}</div>
      </div>
      <div class="buttons-container">
        <button class="normal dark buy" (click)="buyArticleNow()">Buy now for {{article?.price | currency:'EUR'}}</button>
        <button class="normal primary-color basket" (click)="addToCart()">Put in basket</button>
      </div>
    </div>
  </section>
    <app-user-comments [commentsList]="commentsList" [articleId]="articleId"></app-user-comments>
</section>