<section class="article page {{articleId}}">
  <section class='hero-2 product-container'>
    <img [src]="article?.image" />
    <div class="product-info">
      <h1>{{article?.productName}}</h1>
      <div class="types-container">
        <div class="type" *ngIf="article?.productCategory">{{article?.productCategory}}</div>
        <div class="gender" *ngIf="article?.targetAudience">{{article?.targetAudience}}</div>
        <div class="stock" *ngIf="article?.stock"{{article?.stock}}></div>
      </div>
      <p class='description'>
        {{article?.description}}
        The Gryphon Guardian cap boasts a majestic design with an embroidered gryphon emblem, capturing the mythical creature's
        strength and grace. Crafted from high-quality materials in earthy tones, it offers a comfortable and versatile fit for
        any occasion, blending fantasy aesthetics with contemporary style.
      </p>
      <div class="price-container">
        <p>Now for</p>
        <div class="price" *ngIf="article?.stock">€{{article?.price}}</div>
      </div>
      <div class="buttons-container">
        <button class="normal dark buy">Buy now for $49.99</button>
        <button class="normal primary-color basket">Put in basket</button>
      </div>
    </div>
  </section>
    <div class="add-comments-container">
      <h2 class='comments title'>comments</h2>
      <form [formGroup]='commentForm' class='add-comment'>
        <img class='profile-picture'
          src="https://firebasestorage.googleapis.com/v0/b/angulargamewebsite.appspot.com/o/shop%2Farticles%2FGryphonGuardian.jpg?alt=media&token=215e053c-1d42-4958-8cba-af8a3261e7cd"
          alt="user profile picture">
        <div class="comment-container">
          <textarea formControlName='userComment' placeholder='Add comment ...' [(ngModel)]="textareaContent"></textarea>
          <div class="bottom-row">
            <img *ngIf="image" [src]='article?.image' />
            <div class="buttons-container">
              <input type="file" (change)="onFileSelected($event)" formControlName='userCommentPhoto' />
              <button (click)="submitComment()" class='normal rounded-corners primary-color'>comment</button>
            </div>
<p>Character Count: {{ textareaContent.length }}/500</p>
</div>
        </div>
      </form>
    </div>
    <div *ngFor="let comment of commentsList">
      <p>{{comment.userComment}}</p>
      <button (click)="like(comment)">likes:</button>
      <p>{{comment?.likes?.length}}</p>
      <button (click)="dislike(comment)">dislike:</button>
      <p>{{comment?.dislikes?.length}}</p>
    </div>
</section>