@import "../../styles.scss";

section.shop{
  overflow-x: hidden;
  section.hero{
    background: url("../../assets/images/Shop-IMG.jpg");
    background-size: cover;
    background-position: bottom;
    height: calc(100svh - 300px);
  }
  section.filter-tabs{
    display: flex;
    gap: 50px;
    margin: 50px 0;
    > * {
      width: 100%;
    }
    .tab{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      transition: 0.2s ease;
      .filter-name{
        font-family: 'PoppinsBold';
        text-transform: uppercase;
        font-size: 18px;
      }
      &:hover{
        cursor: pointer;
        transform: scale(105%);
      }
    }
  }
  .shop-container{
    &--header{
      margin: 100px 0 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $black;
      .info-filter-container{
        display: flex;
        .amount{
          padding: 0 20px 0 0;
          height: fit-content;
          border-right: 1px solid $black;
        }
        .filter-dropdown{
          padding: 0 0 0 20px;
          :first-child{
            margin: 0 10px 0 0;
          }
        }
      }
    }
    &--main{
      margin: 0 0 100px 0;
      display: flex;
      gap: 100px;
      .catagories-filter-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 400px;
        color: $black;
        .filter{
          border: 2px solid $black;
          overflow: hidden;
          height: fit-content;
          .filter-type{
            display: flex;
            gap: 20px;
            font-size: 20px;
            padding: 20px;
            background-color: $black;
            color: #fff;
            &:hover{
              cursor: pointer;
            }
            .filter-name{
              font-size: 18px;
              font-family: "PoppinsBold";
            }
            img{
              width: 20px;
              height: 20px;
              margin-left: auto;
              transition: 0.5s ease;
            }
          }
          .hidden-container{
            max-height: 0px;
            transition: 0.5s ease;
            padding: 0 20px;
            .detailed-filters{
              display: flex;
              flex-direction: column;
              gap: 5px;
              padding: 0 20px;
              border-left: 2px solid $black;
              transition: 0.5s all ease;
              .detail-filter{
                font-size: 1rem;
                display: flex;
                gap: 15px;
              }
            }
          }
          &.active{
            .hidden-container{
              padding: 0 20px 20px 20px;
              max-height: 500px;
              .detailed-filters{
                margin: 20px 0 0 0px;
                &:nth-child(2){
                  margin: 20px 0 10px 0px;
                }
              }
            }
            .filter-type img{
              transform: rotate(-90deg);
            }
          }
          &.gender{
            border: 2px solid $primary-color;
            .filter-type{
              background: $primary-color;
              &:hover{
                cursor: default;
              }
            }
            .hidden-container{
              .detailed-filters{
                border-left: 2px solid $primary-color;
                color: $primary-color;
              }
            }
          }
        }
        
      }
      .shop-index-container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .shop-index {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 50px;
        
            .product {
              width: 100%;
              height: fit-content;
              display: flex;
              flex-direction: column;
              gap: 5px;
              padding: 0 20px 20px 20px;
              transition: 0.3s ease;
        
              img {
                width: 100%;
              }
              .image-container{
                height: 200px;
                overflow: hidden;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
              .title {
                font-size: 1.5625rem;
                text-transform: capitalize;
              } 
              .types-container {
                display: flex;
                gap: 30px;
                font-size: 1.125rem;
                text-transform: capitalize;
        
                .type {
                  position: relative;
        
                  &::after {
                    content: "";
                    position: absolute;
                    right: -20px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 7px;
                    height: 7px;
                    border-radius: 50px;
                    background-color: #4056F4;
                  }
                }
              }
              p {
                font-size: 0.75rem;
              }
              .bottom-container {
                display: flex;
                gap: 10px;
        
                .price {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 1.125rem;
                  color: #fff;
                  background-color: $black;
                  padding: 0 15px;
                  border-radius: 3px;
                }
        
                button {
                  img {
                    width: 30px;
                    height: 25px;
                  }
                }
              }
        
              &:hover {
                cursor: pointer;
                background-color: #e5e8ff;
                transform: scale(103%);
              }
            }
        }
        .pagination-menu {
         margin: auto 0 0 0;
         padding: 0 0 0 20px;
        }
      }
    }
  }
}