<section class="page shop">
  <section class="hero">
    <h1>Welcome to the FantasyQuest shop!</h1>
    <p>Your one-stop destination for exclusive upgrades and powerful items. Enhance your hero's abilities with magical gear,
    discover unique power-ups, and equip yourself for the challenges that lie ahead. Dive into the world of Fantasia and
    elevate your adventure with the treasures and enhancements available in our Shop.</p>
    <a href="/shop/#scroll-down" id='scroll-down' class="scroll-down">Scroll down <img src="../../assets/icons/white-down-arrow.svg" alt=""></a>
  </section>
  <section class="filter-tabs">
    <a class="tab">
      <img src="../../assets/images/filter-tab-1.jpg" alt="">
      <div class="filter-name">Clothes collection</div>
    </a>
    <a class="tab">
      <img src="../../assets/images/filter-tab-2.jpg" alt="">
      <div class="filter-name">Gaming Accessories</div>
    </a>
    <a class="tab">
      <img src="../../assets/images/filter-tab-3.jpg" alt="">
      <div class="filter-name">Home Basics</div>
    </a>
  </section>
  <form [formGroup]='shopForm'>
  <section class="shop-container">
    <div class="shop-container--header">
      <h1>CATEGORIES</h1>
      <div class="info-filter-container">
        <div class="amount">47 items</div>
        <div class="filter-dropdown">
          <label for="filter">Sort by:</label>
          <select name="filter" id="filter">
            <option value="Price high to low">Price high>low</option>
            <option value="Price low to high">Price low>high</option>
            <option value="Stock high to low">Stock high>low</option>
            <option value="Stock low to high">Stock low>high</option>
          </select>
        </div>
      </div>
    </div>
    <div class="shop-container--main">
      <div class="catagories-filter-container">
        <div class="filter active gender">
          <div class="filter-type">
            <div class="filter-name">Gender</div>
            <img src="../../assets/icons/gender-mark-1-svgrepo-com.svg" alt="FQ arrows long">
          </div>
          <div class="hidden-container">
            <div class="detailed-filters gender">
              <div class="detail-filter">
                <div class="fq-checkbox small gender">
                  <input type='checkbox' formControlName='men'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Men</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small gender">
                  <input type='checkbox' formControlName='women'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Women</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small gender">
                  <input type='checkbox' formControlName='unisex'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Unisex</div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter" [class.active]="isActive(1)">
          <div class="filter-type" (click)="toggleActive(1)">
            <div class="filter-name">Clothes collection</div>
            <img src="../../assets/icons/FQ-arrows.svg" alt="FQ arrows long">
          </div>
          <div class="hidden-container">
            <div class="detailed-filters">
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='tshirt'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">T-Shirts</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='hoodies'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Hoodies</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='pants'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Pants</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='shoes'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Shoes</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='caps'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Caps</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='wristwears'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Wristwears</div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter" [class.active]="isActive(2)">
          <div class="filter-type" (click)="toggleActive(2)">
            <div class="filter-name">Gaming accessories</div>
            <img src="../../assets/icons/FQ-arrows.svg" alt="FQ arrows long">
          </div>
          <div class="hidden-container">
            <div class="detailed-filters">
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='mice'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Mice</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='keyboards'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Keyboards</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='headsets'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Headsets</div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter" [class.active]="isActive(3)">
          <div class="filter-type" (click)="toggleActive(3)">
            <div class="filter-name">Home basics</div>
            <img src="../../assets/icons/FQ-arrows.svg" alt="FQ arrows long">
          </div>
          <div class="hidden-container">
            <div class="detailed-filters">
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='candles'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Candles</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='vases'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Vases</div>
              </div>
              <div class="detail-filter">
                <div class="fq-checkbox small">
                  <input type='checkbox' formControlName='lights'>
                  <span class="fq-checkbox-background"></span>
                </div>
                <div class="detail-filter-name">Lights</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shop-index">
        <div class='product' *ngFor="let article of articlesList" (click)="showArticle(article)">
          <img [src]="article.image" />
          <div class="title">{{article.productName}}</div>
          <div class="types-container">
            <div class="type" *ngIf="article?.productCategory">{{article.productCategory}}</div>
            <div class="gender" *ngIf="article?.targetAudience">{{article.targetAudience}}</div>
          </div>
          <p>{{article.description}} - Please do not read this, cuz if you do read this you will waste valuable seconds of your life. Expect no return for the waste. Thanks if you did read this but, ur still wasting ur time.</p>
          <div class="bottom-container">
            <div class="price">€{{article.price}}</div>
            <button class='normal primary-color'><img src="../../assets/icons/shop-basket-icon.svg" alt="shop-basket-icon"></button>
          </div>
        </div>
        <div class='product' *ngFor="let article of articlesList" (click)="showArticle(article)">
          <img [src]="article.image" />
          <div class="title">{{article.productName}}</div>
          <div class="types-container">
            <div class="type">{{article.productCategory}} test</div>
            <div class="gender">{{article.targetAudience}}</div>
          </div>
          <p>{{article.description}} - Please do not read this, cuz if you do read this you will waste valuable seconds of your
            life. Expect no return for the waste. Thanks if you did read this but, ur still wasting ur time.</p>
          <div class="bottom-container">
            <div class="price">€{{article.price}}</div>
            <button class='normal primary-color'><img src="../../assets/icons/shop-basket-icon.svg" alt="shop-basket-icon"></button>
          </div>
        </div>
        <div class='product' *ngFor="let article of articlesList" (click)="showArticle(article)">
          <img [src]="article.image" />
          <div class="title">{{article.productName}}</div>
          <div class="types-container">
            <div class="type">{{article.productCategory}} test</div>
            <div class="gender">{{article.targetAudience}}</div>
          </div>
          <p>{{article.description}} - Please do not read this, cuz if you do read this you will waste valuable seconds of your
            life. Expect no return for the waste. Thanks if you did read this but, ur still wasting ur time.</p>
          <div class="bottom-container">
            <div class="price">€{{article.price}}</div>
            <button class='normal primary-color'><img src="../../assets/icons/shop-basket-icon.svg" alt="shop-basket-icon"></button>
          </div>
        </div>
        <div class='product' *ngFor="let article of articlesList" (click)="showArticle(article)">
          <img [src]="article.image" />
          <div class="title">{{article.productName}}</div>
          <div class="types-container">
            <div class="type">{{article.productCategory}} test</div>
            <div class="gender">{{article.targetAudience}}</div>
          </div>
          <p>{{article.description}} - Please do not read this, cuz if you do read this you will waste valuable seconds of your
            life. Expect no return for the waste. Thanks if you did read this but, ur still wasting ur time.</p>
          <div class="bottom-container">
            <div class="price">€{{article.price}}</div>
            <button class='normal primary-color'><img src="../../assets/icons/shop-basket-icon.svg" alt="shop-basket-icon"></button>
          </div>
        </div>
        <div class='product' *ngFor="let article of articlesList" (click)="showArticle(article)">
          <img [src]="article.image" />
          <div class="title">{{article.productName}}</div>
          <div class="types-container">
            <div class="type">{{article.productCategory}} test</div>
            <div class="gender">{{article.targetAudience}}</div>
          </div>
          <p>{{article.description}} - Please do not read this, cuz if you do read this you will waste valuable seconds of your
            life. Expect no return for the waste. Thanks if you did read this but, ur still wasting ur time.</p>
          <div class="bottom-container">
            <div class="price">€{{article.price}}</div>
            <button class='normal primary-color'><img src="../../assets/icons/shop-basket-icon.svg" alt="shop-basket-icon"></button>
          </div>
        </div>
        <div class='product' *ngFor="let article of articlesList" (click)="showArticle(article)">
          <img [src]="article.image" />
          <div class="title">{{article.productName}}</div>
          <div class="types-container">
            <div class="type">{{article.productCategory}} test</div>
            <div class="gender">{{article.targetAudience}}</div>
          </div>
          <p>{{article.description}} - Please do not read this, cuz if you do read this you will waste valuable seconds of your
            life. Expect no return for the waste. Thanks if you did read this but, ur still wasting ur time.</p>
          <div class="bottom-container">
            <div class="price">€{{article.price}}</div>
            <button class='normal primary-color'><img src="../../assets/icons/shop-basket-icon.svg" alt="shop-basket-icon"></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  </form>
</section>

